body{
  padding: 70px;
  background-color: #e9eaec;
}
header,footer,nav,div,section,aside,article{
  border: 0 dotted #f0f0f0;
  border-radius: 5px;
}
a,a:hover,abbr{
  text-decoration: none;
}
.divContent{
  min-height: 350px;
}
/*.jumbotron{
  background-color: #fdfdfd;
}*/
.divContent>.row{
  min-height: 690px;
}
.intention-bg{
  background-image: url(../images/achivements-bg.jpg);
  /*height: 590px;
  position: relative;*/
  width: 100%;
  background-attachment: fixed;
  /*min-width: 650px;*/
  background-repeat: no-repeat;
  background-position: 50% auto;
  /*background-size: 100%;*/
}
.skill-bg{
  background-image: url(../images/skills-bg.jpg);
  /*height: 590px;*/
  /*position: relative;*/
  /*width: 100%;*/
  background-attachment: fixed;
  /*min-width: 650px;*/
  background-repeat: no-repeat;
  /*background-position: 50% 0;
  background-size: 100%;*/
}
.navbar-nav > li > a{
  line-height: 28px;
}
.nav li{
  text-align: center;
}

.row .lead{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
hr{
  border: 1px solid rgba(0,0,0,0);
}
.row .hr{
  width: 70px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #52de23;
  margin-top: -21px;
}

/*
*求职意向
*time：2017.10.14
*author：Jiluolao
*/
p.ptitle{
  color: #E87E04;
  margin: 2em 0 1em;
  font-size: 16px;
  font-family: "SimHei";
}

/*
*作品集
*time：2017.10.15
*author：Jiluolao
*/
#worksshow1{
  /*border: 2px solid #666;*/
  margin-bottom: 10px;
}
#worksshow2{
  background-color: #e2eaed;
  padding-top: 10px;
}
#worksshow2 .col-md-6{
  margin-bottom: 10px;
}
#worksshow2 .col-md-6 img{
  border: 2px solid #fff;
}
#worksshow2 .col-md-6 img:hover{
  background-color: #f00;
  border-color: #f0f;
}
/*
*我的经历
*time：2017.10.28
*author：Jiluolao
*/
.row ul{
  margin-top: 80px;
}
.row ul li{
  position: relative;
  list-style: none;
  overflow: hidden;
}
.row ul li .date-box{
  width: 150px;
  height: 150px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 50%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -75px;
}
.row ul li .date-box p{
  text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.row ul li >div:last-child{
  padding: 1em 0 0;
}
.row ul li >div{
  height: 150px;
}
.row .my-work{
  width: 40%;
  text-align: right;
}
.row .my-xp li:not(:first-child){
  margin-top: 80px;
}
.row .my-school{
  width: 40%;
  float: right;
}
@media only screen and (max-width: 415px){
  .row .date-box {
      width: 100px;
      height: 100px!important;
  }
}

@media only screen and (max-width: 1224px){
  .row .date-box {
      left: 0;
      margin-left: 0;
  }
}
